$body-font: "__Plus_Jakarta_Sans_d21556";
$body-bg: #ffffff;
$body-color: #000000;
$muted-color: #aeabab;

$border-color: #9ea2a7;

$primary: #174bd5;
$secondary: #16fcd2;
$primary-light: #174bd53d;
$border-light: #174bd5a3;
$white: #ffffff;
$dark-blue-100: #0b0b22;
$dark-blue-200: #131329;
$gray-100: #6E6C6C;
$blue-300: #427DD5;
