---
import "../styles/tailwind.css";
import "../styles/global.scss";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      src="//js-na1.hs-scripts.com/24188787.js"
      type="text/javascript"
      id="hs-script-loader"></script>
    <!-- <script
      id="zsiqscript"
      type="text/javascript"
      src="https://salesiq.zohopublic.in/widget?wc=siqcc0a6fc91c3d874a42d67867d95600eb57e17a0cd8515de6c89ce4cc1efc95a1"
    ></script> -->
  </head>

  <body>
    <slot />
  </body>
</html>
